<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315534724848-po1u8tggj1tp0dfnsgsdfsru31n329c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315534724848-po1u8tggj1tp0dfnsgsdfsru31n329c5</string>
	<key>API_KEY</key>
	<string>AIzaSyAFHF-1ssRgxSxOp6DuE0WmhayC0oeiu48</string>
	<key>GCM_SENDER_ID</key>
	<string>315534724848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yatraki.yatrakiMobile</string>
	<key>PROJECT_ID</key>
	<string>yatraki</string>
	<key>STORAGE_BUCKET</key>
	<string>yatraki.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315534724848:ios:725f0edb7134ef90eebc35</string>
</dict>
</plist>
